<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="image/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="image/*" />
        </intent>
        <!-- Added -->
        <intent>
            <action android:name="android.intent.action.DIAL" />

            <data android:scheme="tel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="application/pdf" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="text/plain" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <!-- If you don't know the MIME type in advance, set "mimeType" to "*/*". -->
            <data android:mimeType="application/pdf" />
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="google.navigation" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.policyboss.policybosspro.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- ForPhoto Permission -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- For Workmanager Notification Permission -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- For RECEIVE SMS Permission. get Sms for OTP -->
    <permission
        android:name="com.policyboss.policybosspro.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <application
        android:name=".PolicyBossProApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_policyboss"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_policyboss_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Policybossprov34"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

<!--     Note:   android:theme="@style/Theme.PolicyBossProSplashScreen" create custom splash Screen   -->
        <activity
            android:name=".view.others.contactUS.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".view.others.incomePotential.IncomePotentialdetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.others.incomePotential.IncomePotentialDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.WebView.PrivacyWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.raiseTicketDialog.RaiseTicketDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/DialogTheme" />
        <activity
            android:name=".view.salesMaterial.SalesShareActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.salesMaterial.SalesDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.knowledgeGuru.KnowledgeGuruWebviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.knowledgeGuru.KnowledgeGuruActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.others.feedback.HelpFeedBackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.salesMaterial.SalesMaterialActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.notification.NotificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.appCode.AppCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.TranslucentDark">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.myAccount.MyAccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.syncContact.ui.WelcomeSyncContactActivityKotlin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.syncContact.ui.SyncContactActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.changePwd.ChangePaswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.others.incomePotential.IncomePotentialActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview.SyncWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paymentEliteplan.SyncRazorPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".paymentEliteplan.RazorPaymentEliteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview.ShareQuoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webview.CommonWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.home.HomeActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".view.splashscreen.SplashScreenActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.introslider.EulaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BaseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.introslider.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- android:theme="@style/Theme.Splash" -->
        <activity
            android:name=".view.splashscreen.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PolicyBossProSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Theme is optional and only needed if default theme has no action bar. -->
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_DFxDFYDslN2DIq" />
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/provider_paths" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5798feb479107f972a6f8241c4f861c7340d95e9" />
        <meta-data
            android:name="com.webengage.sdk.android.environment"
            android:value="in" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.policyboss.policybosspro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- <receiver -->
        <!-- android:name=".broadcast.SMSBroadCastReceiver" -->
        <!-- android:exported="true"> &lt;!&ndash; Ensure this is true since it's receiving system broadcasts &ndash;&gt; -->
        <!-- <intent-filter android:priority="5822"> -->
        <!-- <action android:name="android.provider.Telephony.SMS_RECEIVED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver> <!-- RazorPay  Added for Android 12 or heigher -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.razorpay.RzpTokenReceiver"
            android:exported="false"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="rzp.device_token.share" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.FirebasePushNotification.MyFirebaseMessagingService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Note: For ForegroundService WorkManger Android ver 13 and above -->
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync" />
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.google.android.gms.analytics.CampaignTrackingService"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name="com.yalantis.ucrop.UCropActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> -->
        <!-- <activity -->
        <!-- android:name=".cropImage.UcropperActivity" -->
        <!-- android:screenOrientation="portrait" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> -->
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <!--
NoteThis service must be added to the version 3.0.1 or
    laterincluding version 3.0.1
        -->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!--
Notethis service must be added to version 2.2.5 or later
    includes version 2.2.5
        -->
        <receiver
            android:name=".broadcast.SMSReaderBroadCastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcast.MIPushReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
                <!-- Add other required actions if necessary -->
            </intent-filter>
        </receiver>
    </application>

</manifest>